.tasks {
  background-color: #CCF;
  border: 1px solid #669;
  float: left;
  margin: 0 5px;
  min-height: 55px;
  padding: 10px;
  width: 170px;
}

.elem {
  background-color: #FFF;
  border: 1px solid #99C;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0 10px;
  width: 148px;
}

.on_tasks {
  background-color: #EEF;
  height: 50px;
  list-style-type: none;
  margin-bottom: 5px;
  width: 170px;
}
